.btn-inscription{
    background-color: #80976C;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    border: solid #80976C;
    margin: 0 auto;
    display: block;
}

.btn-inscription a{
    text-decoration: none;
    color: inherit;
}

.section-FAQ{
    background-color: #552456;
    color:white;
}

.ligne{
    border-bottom: solid white 2px;  
}

.texte-FAQ{
    display: flex;
    flex-direction: row;
    gap:2rem;
    align-items: center;
    justify-content: space-between;
}

.editions-precedentes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editions-precedentes .resume{
    display: flex;
    height: 200px;
    width: 30%;
    background-color: #3D5B33;
    color: #8AB073;
    padding: 15px;
    align-items: center;
}

.img{
    background-color: grey;
    width: 30%;
}