span{
    color: #80976C;
}
.section-presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/womenTalking.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.texte-presentation{
    background-color: #F6F3EE;
    border-radius: 25px ;
    width:500px;
    padding:20px;
}

.texte-presentation div{
    margin-left: 10px;
}

.texte-presentation h3{
    color:#80976C;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.texte-presentation p{
    color:#3D5B33;
}

.slideshow-container{
    display:flex;
    gap: 1em;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    scroll-marker-group:after;
}
.slideshow1{
    anchor-name:--carrousel1;
}
.slideshow2{
    anchor-name:--carrousel2;
}

.slideshow-container::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap:.5em;
}

.slideshow-container::-webkit-scrollbar{
    display: none;
}

.slideshow-container::scroll-button(right),.slideshow-container::scroll-button(left){
    content:'→';
    border: none;
    font-size: 3rem;
    color:black;
    height:60px;
    width:60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor:pointer;
    position:fixed;
    top:50%;
    position-area: right center;
    translate: -100%;
}

.slideshow1::scroll-button(right),.slideshow1::scroll-button(left){
    position-anchor: --carrousel1;
}

.slideshow2::scroll-button(right),.slideshow2::scroll-button(left){
    position-anchor: --carrousel2;
}

.slideshow-container::scroll-button(left){
    content: '←';
    position-area: left center;
    translate:100%;
}

.slideshow-container::scroll-button(right):disabled,.slideshow-container::scroll-button(left):disabled{
    opacity:0.3 ;
    cursor:auto;
}

.slideshow-item{
    scroll-snap-align: start;
    flex: 0 0 100%;
}

.slideshow-item::scroll-marker{
    content: '';
    height: 1em;
    width:1em;
    background-color: #dad8d7;
    border-radius: 50%;
}

.slideshow-item::scroll-marker:target-current{
    background-color: #989693;
}

.block-container{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    padding-bottom: 20px;
}

.rectangle{
    width: 450px;
    height:250px;
    background-color:#F4F1EE;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.block{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.block h4{
    margin-top: 0;
    margin-bottom: 0;
}

.voirplus{
    align-self: flex-end;
    justify-self: flex-start;
    padding-right: 15px;
}

.voirplus a{
    text-decoration: none;
    color: #57534C;

}

.voirplus a:hover{
    text-decoration: underline;
}

.circle{
    background-color:#80976C ;
    width: 100px;
    height: 100px;
    border-radius: 80px 0px 10px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowup{
    font-size:xx-large;
    color: white;
    padding: 15px 5px 5px;
}

.section-kiosque .purple1{
    background-color:#8E6786 ;

}

.section-kiosque .purple2{
    background-color:#552456 ;

}

@media (max-width: 820px) {
    h1{
        font-size: 70px !important;
    }
    .texte-presentation{
        width:400px;
    }

    .rectangle{
        width: 350px;
        height: 200px;
    }
    .rectangle p{
        font-size: 13px;
    }

    .block{
        width:230px;
    }

    .circle{
    width: 90px;
    height: 90px;
    border-radius: 80px 0px 10px 0px ;
    }

    .arrowup{
    font-size:x-large;
    color: white;
    padding: 0px 0px 0px 15px;
}

    .slideshow-container::scroll-button(right),.slideshow-container::scroll-button(left){
        display: none;
    }


}

